.bg-cover{
    background-image: url("../images/space-bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
body{
    font-family: 'Futura',serif;
    text-align: center;
}
.about{
    padding: 4px;
    color: white;
    text-align: center;
    font-family: 'Futura',serif;

}
img{
    height: 270px;
    width: 320px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.card{
    box-shadow: 0px 4px 12px 4px #ff0000;
    margin: 6px;
    padding: 1px;
    text-align: center;

}
.names{
    font-style: italic;
    font-size: 18px;
}
.container{
    padding: 5px;
}
